<!DOCTYPE html>
<html>
  <body>
    <div class="content">
      <div class="section">
        <div class="head">
          <span class="headline hl3">This is the about section</span>
          <p><span class="headline hl6">This is the subtitle of the about section</span></p>
        </div>
        <p>
          Touhou Project (Japanese: 東方Projectプロジェクト, Hepburn: Tōhō Purojekuto), also known simply as Touhou (東方, meaning "Eastern" or "Oriental"), is a bullet hell shoot 'em up video game series created by one-man independent Japanese doujin soft developer Team Shanghai Alice. Since 1995,[1][2] the team's member, Jun'ya "ZUN" Ōta, has independently developed programming, graphics, writing, and music for the series, self-publishing 19 mainline games and 6 spin-offs as of October 2023. ZUN has also produced related print works and music albums, and collaborated with developer Twilight Frontier on seven additional official Touhou spin-offs, most being fighting games.[3]
          The Touhou Project is set in Gensokyo,[a] a land sealed from the outside world and primarily inhabited by humans and yōkai, legendary creatures from Japanese folklore that are personified in Touhou as bishōjo in an anthropomorphic moe style. Reimu Hakurei, the miko of the Hakurei Shrine and the main character of the series, is often tasked with resolving supernatural "incidents" caused in and around Gensokyo.
          The first five games were developed for the Japanese NEC PC-9800 computer series, with the first, Highly Responsive to Prayers, released in August 1997; the series' signature danmaku (弾幕, lit. 'bullet curtain') mechanics were introduced in the second game, Story of Eastern Wonderland (also 1997). The release of Embodiment of Scarlet Devil in August 2002 marked a shift to Microsoft Windows. Numerous sequels followed, including several spin-offs departing from the traditional bullet hell format.
          Touhou Project has become more particularly notable as a prominent source of Japanese dōjin content, with the series spawning a vast body of fan-made works such as artwork, music, print works, video games, and Internet memes. Because of this, it has gained somewhat of a cult following outside of Japan. The popularity of the series and its derivative works has been attributed in part to the few restrictions placed by ZUN on the use of his content. Unofficial works are frequently sold at fan conventions, including Comiket, where the franchise has frequently held the record for circle participation, and the official convention Reitaisai, where trial versions of the official games are typically distributed prior to release.
        </p>
      </div>
    </div>
  </body>
</html>
