<!DOCTYPE html>
<html>
  <%= stylesheet_link_tag "homepage" %>
  <body>
    <div class="content">
      <div class="section">
        <p>This is the text of a section of content</p>
      </div>
    </div>
  </body>
</html>
